{% extends "base.html" %}

{% block conteudo %}

<table class="table table-dark table-striped">

    <tr>
        <th>ID do empréstimo</th>
        <th>Responsável</th>
        <th>Dono da Ficha</th>
        <th>Titulo do Livro</th>
        <th>Empréstimo</th>
        <th>Devolução</th>
        <th>Devolver</th>
        <th>Remover</th>
    </tr>
    {% for emprestimo in emprestimos %}
        <tr>

            <td>{{emprestimo.id}}</td>
            <td>{{emprestimo.usuario.nome}}</td>
            <td>{{emprestimo.ficha.nome}}</td>
            <td>{{emprestimo.livro.titulo}}</td>
            <td>{{emprestimo.data_emprestimo.strftime('%d/%m/%Y %H:%M')}}</td>
            {% if emprestimo.data_devolucao is not none %}
                <td>{{emprestimo.data_devolucao.strftime('%d/%m/%Y %H:%M')}}</td>
            {% else %}
                <td>NÃO DEVOLVIDA</td>
            {% endif %}
            <td>
                <a class="btn btn-success btn-sm" href="{{url_for('devolver_emprestimo',id_emprestimo=emprestimo.id)}}" role="button">DEVOLVER</a>
            </td>
            <td>
                <a class="btn btn-danger btn-sm" href="{{url_for('remover_emprestimo',id_emprestimo=emprestimo.id)}}" role="button">REMOVER</a>
            </td>

        </tr>
    {% endfor %}

</table>

<hr>
    <div class="row text-center">
        <div class="col mr-1">
            <a class="btn btn-primary btn-sm" href="{{url_for('root')}}" role="button">Voltar</a>
        </div>
    </div>
</hr>

{% endblock %}
