{% extends "base.html" %}

{% block conteudo %}

<div class="container-fluid mx-auto mt-4" style="width: 75%;">
    <div class="row mx-5">
        <div class="col">
            <h1 class="mb-4 text-center">Sistema de Gestão de Biblioteca</h1>
        </div>
    </div>
    <div class="row mx-5">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3">
            <div class="card mx-auto text-white" style="width: 288px; height: 170px; background-color: rgba(132, 32, 41, 1);">
                <div class="card-body">
                <h5 class="card-title">Cadastrar Livro</h5>
                <p class="card-text">Cadastrar um novo livro na biblioteca.</p>
                <a href="{{url_for('cadastrar_livro')}}" class="btn btn-light btn-sm px-3">Ir</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3">
            <div class="card mx-auto" style="width: 288px; height: 170px; background-color: rgba(220, 53, 69, 1);">
                <div class="card-body">
                <h5 class="card-title">Listar Livros</h5>
                <p class="card-text">Lista dos livros cadastrados na biblioteca.</p>
                <a href="{{url_for('listar_livros')}}" class="btn btn-light btn-sm px-3">Ir</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3">
            <div class="card mx-auto" style="width: 288px; height: 170px; background-color: rgba(153, 116, 4, 1);">
                <div class="card-body">
                <h5 class="card-title">Cadastrar Leitor</h5>
                <p class="card-text">Cadastrar uma nova ficha para um leitor.</p>
                <a href="{{url_for('cadastrar_ficha')}}" class="btn btn-light btn-sm px-3">Ir</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3">
            <div class="card mx-auto" style="width: 288px; height: 170px; background-color: rgba(255, 193, 7, 1);">
                <div class="card-body">
                  <h5 class="card-title">Listar Leitores</h5>
                  <p class="card-text">Listar as fichas de leitores cadastradas.</p>
                  <a href="{{url_for('listar_fichas')}}" class="btn btn-light btn-sm px-3">Ir</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3">
            <div class="card mx-auto text-white" style="width: 288px; height: 170px; background-color: rgba(19, 121, 91, 1);">
                <div class="card-body">
                    <h5 class="card-title">Emprestar Livro</h5>
                    <p class="card-text">Empresta um livro da biblioteca para um leitor cadastrado.</p>
                    <a href="{{url_for('emprestar_livro')}}" class="btn btn-light btn-sm px-3">Ir</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3">
            <div class="card mx-auto" style="width: 288px; height: 170px; background-color: rgba(32, 201, 151, 1);">
                <div class="card-body">
                    <h5 class="card-title">Listar Empréstimos</h5>
                    <p class="card-text">Lista dos livros emprestados aos leitores.</p>
                    <a href="{{url_for('listar_emprestimos')}}" class="btn btn-light btn-sm px-3">Ir</a>
                </div>
            </div>
        </div>

        {% if session.get('admin') == True %}
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3">
                <div class="card mx-auto text-white" style="width: 288px; height: 170px; background-color: rgba(8, 121, 144, 1);">
                    <div class="card-body">
                        <h5 class="card-title">Cadastrar Usuário</h5>
                        <p class="card-text">Cadastra um novo usuário no sistema.</p>
                        <a href="{{url_for('cadastrar_usuario')}}" class="btn btn-light btn-sm px-3">Ir</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3">
                <div class="card mx-auto" style="width: 288px; height: 170px; background-color: rgba(13, 202, 240, 1);">
                    <div class="card-body">
                        <h5 class="card-title">Lista Usuários</h5>
                        <p class="card-text">Lista os usuários cadastrados no sistema.</p>
                        <a href="{{url_for('listar_usuarios')}}" class="btn btn-light btn-sm px-3">Ir</a>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
    

</div>

{% endblock %}