{% extends "base.html" %}

{% block conteudo %}

<table class="table table-dark table-striped">

    <tr>
        <th>ID</th>
        <th>Titulo</th>
        <th>Autor</th>
        <th>Gênero</th>
        <th>Disponível</tr>
    </tr>
    {% for livro in livros %}
        <tr>

            <td>{{livro.id}}</td>
            <td>{{livro.titulo}}</td>
            <td>{{livro.autor}}</td>
            <td>{{livro.genero}}</td>
            {% if livro.disponivel == True %}
                <td>Sim</td>
            {% else %}
                 <td>Não</td>
            {% endif %}
            
        </tr>
    {% endfor %}

</table>

{% endblock %}