{% extends "base.html" %}

{% block conteudo %}

<div class="container-fluid mx-auto mb-1" style="width: 75%; max-height: 100vh;">
    {% from 'bootstrap/form.html' import render_field %}

    <form method="post">
        {{ form.csrf_token() }}
        <div class="mt-2" style="width: 200px;">
            {{ render_field(form.campo) }}
        </div>
        <div class="mt-2 mb-2">
            {{ render_field(form.enviar, button_style="primary", button_size="sm") }}
            <a class="btn btn-secondary btn-sm" href="{{url_for('listar_usuarios')}}" role="button">LIMPAR</a>
        </div>
    </form>
    <div style="max-height: 60vh; overflow-y: auto;">
        <table class=" table table-light border rounded-3" style="overflow: hidden;">
            <thead>
            <tr class="table-secondary">
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Nome de Usuário</th>
                <th scope="col">E-mail</th>
                <th scope="col">Telefone</th>
                <th scope="col">Administrador</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <th scope="row">{{usuario.id}}</th>
                        <td>{{usuario.nome}}</td>
                        <td>{{usuario.username}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.telefone}}</td>
                        {% if usuario.admin == True %}
                            <td>Sim</td>
                        {% else %}
                            <td>Não</td>
                        {% endif %}
                        <td class="text-center"><a class="btn btn-danger btn-sm" href="{{url_for('remover_usuario', id_usuario=usuario.id)}}" role="button">REMOVER</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <div class="row text-center">
        <div class="col mr-1">
            <a class="btn btn-primary" href="{{url_for('root')}}" role="button">VOLTAR</a>
        </div>
    </div>
</div>


{% endblock %}